@import "/src/styles/_variables.scss";

.basic_search_text_field_box {
  @include flexSpace();
  gap: 6px;
  width: 100%;
  height: max-content;
}

.basic_search_text_field {
  flex-grow: 1;
  font-size: 14px;
  line-height: 20px;
  font-weight: $medium;
  color: $grey080;
  
  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    font-weight: $medium;
    color: $grey030;
  }
}

.text_field_delete_button {
  @include flexCenter();
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $grey020;
  opacity: 0;
  cursor: default;
  
  &:hover {
    cursor: default;
  }
  
  &.show {
    opacity: 1;
    cursor: pointer;

    &:hover {
      background-color: $grey030;
    }
  }
}

.text_field_search_action_button {
  flex-shrink: 0;
  @include flexCenter();
  padding: 3px 6px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: $medium;
  color: transparent;
  
  &.focus {
    color: $grey030;
  }
  &.active {
    color: $grey050;
    background-color: $grey020;
  }
}