@import "/src/styles/_variables.scss";

.chat_advise_list_section_wrap {
  flex: 0 0 auto;
  width: 410px;
  // height: 100%;
  background-color: $white;
}
.chat_advise_list_container_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: $grey010-border;
  position: relative;
  overflow: hidden;
}


/* 1. 상담사 정보 영역 */
.chat_adviser_information_container {
  @include flexSpace();
  flex: 0 0 90px;
  width: 100%;
  padding: 20px 18px 18px;
}
.chat_adviser_information_box {
  @include flexStart();
  align-items: flex-end;
  gap: 14px;
}
.chat_adviser_information_text_box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.chat_adviser_information_name_box {
  font-size: 16px;
  font-weight: $bold;
  line-height: 1;
  color: $grey100;
}

/* 0. 상담 분야 스타일 반복 사용 */
.chat_advise_fields_box {
  @include flexStart();
  gap: 4px;
}
.chat_advise_fields_more_number_box {
  font-size: 11px;
  font-weight: $medium;
  line-height: 1;
  color: $grey030;
}

/* 1-1. 업무 상태 변경 - 셀렉트 박스 */
.chat_adviser_working_state_dropdown {
  position: relative;
}

.chat_adviser_working_state_dropdown_button {
  @include flexSpace();
  width: 130px;
  padding: 6px 10px;
  border-radius: 8px;
  border: $grey020-border;
  background-color: $white;
  position: relative;
  z-index: 10;
  
  @include hoverTransition();
  &:hover {
    background-color: $grey005;
  }
  .current_working_state_box {
    @include flexStart();
    gap: 4px;

    .color_tag {
      font-size: 10px;
      font-weight: $medium;
      padding: 3px 4px;
      height: 18px;
    }
  }
  .current_working_state_text {
    font-size: 14px;
    font-weight: $medium;
    line-height: 1;
    color: $grey080;
  }
  
  .dropdown_arrow_box {
    @include flexCenter();
  }
}

.chat_adviser_working_state_dropdown_box {
  display: none;
  position: absolute;
  top: 4px;
  transform: translateY(32px);
  width: 100%;
  padding: 4px;
  border-radius: 8px;
  border: $grey020-border;
  background-color: $white;
  box-shadow: $shadow-basic;
  overflow: hidden;
  // z-index: 10;

  &.show {
    display: block;
  }
  
  .chat_adviser_working_state_dropdown_lists {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .chat_adviser_working_state_dropdown_list_item_button {
    @include flexStart();
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: $medium;
    color: $grey080;

    @include hoverTransition();
    &:hover {
      background-color: $grey005;
    }

    &.active {
      cursor: default;
      color: $grey030;
      background-color: $white;

      &:hover {
        background-color: $white;
      }
    }
  }
}



/* 2. 상담 카테고리 영역 */
.chat_advise_category_container {
  flex: 0 0 124px;
  width: 100%;
  border-bottom: $grey020-border;
}

/* 2-1. first tabs : 내 상담 | 전체 상담 */
.chat_advise_category_first_tabs {
  @include flexSpace();
  width: 100%;
}
.chat_advise_category_first_tab_button {
  @include flexSpace();
  width: 50%;
  height: 54px;
  padding: 16px 25px;
  background-color: $grey010;
  border-top: $grey010-border;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  
  &.my_advise {
    border-right: $grey010-border;
  }
  &.all_advise {
    border-left: $grey010-border;
  }
  
  .chat_advise_category_first_tab_text {
    font-size: 18px;
    font-weight: $semi-bold;
    line-height: 1;
    color: $grey040;
  }
  
  .chat_advise_category_first_tab_alert_count {
    opacity: 0;
  }
  .tab_alert_count_number {
    display: inline-block;
    font-size: 16px;
    font-weight: $semi-bold;
    line-height: 1;
    color: $grey080;
  }
  .tab_alert_count_text {
    display: inline-block;
    font-size: 12px;
    font-weight: $semi-bold;
    line-height: 1;
    color: $grey080;
  }
  
  &.breadscrumb {
    background-color: $white;
    
    .chat_advise_category_first_tab_text {
      color: $grey080;
    }
    .chat_advise_category_first_tab_alert_count {
      opacity: 1;
    }
  }
}

/* 2-1. second tabs : 대기 | 진행 | 보류 | 종료 */
.chat_advise_category_second_tabs {
  @include flexSpace();
  gap: 9px;
  width: 100%;
  padding: 24px 15px 12px;
}

.chat_advise_category_second_tab_button {
  @include flexSpace();
  width: 25%;
  padding: 8px;
  position: relative;
  
  .chat_advise_category_second_tab_text {
    font-size: 16px;
    font-weight: $semi-bold;
    line-height: 1;
    color: $grey040;
  }
  .chat_advise_category_second_tab_alert_count {
    @include flexCenter();
    height: 23px;
    padding: 4px 6px;
    font-size: 12px;
    line-height: 1;
    font-weight: $medium;
    color: $grey030;
    background-color: $grey005;
    border-radius: 8px;
  }

  &.breadscrumb {
    .chat_advise_category_second_tab_text {
      color: $grey080;
    }
    
    .chat_advise_category_second_tab_alert_count {
      color: $white;
      background-color: $grey080;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -13px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $grey080;
    }
  }

  /* new badge 표시 - 현재 표시 보류됨 */
  &.proceeding {
    .chat_advise_category_second_tab_alert_count {
      position: relative;

      .new_notification_badge {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
      }
    }
  }
}



/* 3. 채팅 상담 검색 영역 */
.chat_advise_search_container {
  flex: 0 0 auto;
  width: 100%;
  min-height: 64px;
  max-height: 84px;
  position: relative;
}

.chat_advise_search_box {
  @include flexSpace();
  gap: 6px;
  padding: 16px 14px;
}
.chat_advise_customer_information_search_text_field_box {
  height: 32px;
  flex-grow: 1;
}
.chat_advise_detail_search_icon_buttons_box {
  @include flexSpace();
  flex-shrink: 0;
  gap: 4px;
}
.chat_advise_detail_search_icon_button_box {
  @include flexCenter();
  &.detail_pannel {
    &.active {
      .icon_button {
        position: relative;
      
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 5px;
          right: 5px;
          width: 6px;
          height: 6px;
          background-color: $green100;
          border: 1px solid $white;
          border-radius: 50%;
        }
      }
    }
  }

  &.sorting {
    position: relative;

    .dropdown_menu {
      width: 116px;
      position: absolute;
      top: 36px;
      right: 0;
      z-index: 500;
    }
  }
}



/* 3-2. 상세 검색 결과 칩 영역 */
.detail_search_deletable_chip_box {
  display: none;
  margin-top: -8px;
  padding: 0 16px 8px;
  overflow: hidden;

  &.show {
    display: block;
  }
}

.detail_search_deletable_chips {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  overflow-y: hidden;
  overflow-x: auto;
  overflow-x: overlay;
  scrollbar-width: thin;
  scrollbar-color: $grey030;
  background-color: $white;
  
  &::-webkit-scrollbar {
    height: 6px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background: $grey030;
    background: transparent;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 3px;
  }

  .deletable_chip {
    flex-shrink: 0;
  }
}



/* 3-2. 상세 검색 패널 */
.chat_advise_search_detail_pannel {
  display: none;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  width: 382px;
  // height: 200px;
  padding: 16px;
  background-color: $white;
  border-radius: 8px;
  border: $grey020-border;
  box-shadow: $shadow-basic;

  &.show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }
}
.chat_advise_search_detail_pannel_dropdown_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px
}

.chat_advise_search_detail_pannel_dropdown {
  .basic_text_dropdown_lists {
    max-height: 200px;
  }
  .basic_text_dropdown_button {
    height: 32px;
    padding: 6px 8px;
  }
  &.adviser {
    .basic_text_dropdown_toggle {
      z-index: 14;
    }
    .basic_text_dropdown_menu {
      z-index: 13;
    }
  }
  &.channel {
    .basic_text_dropdown_toggle {
      z-index: 12;
    }
    .basic_text_dropdown_menu {
      z-index: 11;
    }
  }
  &.advise_field {}
}
.chat_advise_search_detail_pannel_action_buttons_container {
  @include flexEnd();
  gap: 6px;
}




/* 4. 채팅 상담 리스트 영역 */
.chat_advise_list_container {
  @include scrollStyle();
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 14px;
}

/* 4-1. 채팅 상담 리스트 없는 경우 */
.chat_advise_lists_no_data_found_box {
  flex: 1 1 auto;
  @include flexCenter();
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

/* 4-2. 채팅 상담 리스트 */
.chat_advise_article {
  width: 100%;
  position: relative;

  .chat_advise_article_adviser_name_box {
    @include hoverTransition();
    &:hover {
      background-color: $grey010;
      
      .chat_adviser_name_card {
        @include flexStart();
        gap: 16px;
      }
    }    
  }
}

/* 4-3. chat advise dimed */
.chat_advise_dimed {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  border-radius: 10px;
  background-color: #F5F6F7CC;

  &.active {
    @include flexCenter();
  }

  .chat_advise_dimed_text_box {
    @include flexCenter();
    gap: 8px;
  }

  .chat_advise_dimed_text {
    font-size: 15px;
    font-weight: $semi-bold;
    line-height: 1;
    color: $grey080;
  }
}

.chat_advise_article_clickable_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 94px;
  padding: 11px 16px;
  border-radius: 10px;
  cursor: pointer;
  background-color: $white;
  
  @include hoverTransition();
  &:hover {
    background-color: $grey000;
  }
  
  &.active {
    background-color: $grey005;
  }
}

/* 예외! 첫번째 리스트 hover event - tooltip 위치 조정 */
.chat_advise_list {
  &:first-child {
    .chat_advise_article_adviser_name_box {
      @include hoverTransition();
      &:hover {
        .chat_adviser_name_card {
          bottom: 0;
          left: 0;
          transform: translateY(36px);
        }
      }
    }
  }
}

.chat_advise_article_information_container,
.chat_advise_article_contents_container,
.chat_advise_article_fields_container {
  @include flexSpace();
  width: 100%;
}


.chat_advise_article_information_box {
  @include flexStart();
}

.chat_advise_channel_delimiter_img_box {
  @include flexCenter();
  width: 15px;
  height: 15px;
  border-radius: 5px;
  overflow: hidden;
}

.chat_advise_channel_delimiter_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat_advise_article_customer_name {
  @include ellipsisOneLine();
  @include chatAdviseNameStyle();
  max-width: 102px;
  margin-left: 4px; 
}

.chat_advise_article_bookmark_icon_box {
  display: none;
  margin-left: 6px;
  width: 10px;
  height: 18px;
  
  &.show {
    @include flexCenter();
  }
}

.chat_advise_article_adviser_name_box {
  display: none;
  margin-left: 2px;
  height: 21px;
  padding: 3px 6px;
  border-radius: 5px;
  position: relative;
  
  &.show {
    display: block;
  }

  .chat_adviser_name {
    display: block;
    font-size: 11px;
    font-weight: $medium;
    // line-height: 17px;
    color: $grey040;
  }

  /* 마우스오버 - 상담사 네임카드 */
  .chat_adviser_name_card {
    display: none;
    position: absolute;
    top: -8px;
    left: 0;
    transform: translateY(-100%);
    z-index: 100;
    width: 238px;
    height: 74px;
    padding: 12px;
    border-radius: 10px;
    border: $grey020-border;
    background-color: $white;
    box-shadow: $shadow-basic;

    .chat_adviser_name_card_avatar_box {
      flex-shrink: 0;
    }

    .chat_adviser_name_card_information_box {
      flex-grow: 1;
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .chat_adviser_name_card_name_text {
      @include chatAdviseNameStyle();
      @include ellipsisOneLine();
      width: 100%;
      margin-bottom: 4px;
    }
    .chat_adviser_name_card_email_text {
      @include ellipsisOneLine();
      width: 100%;
      font-size: 11px;
      font-weight: $medium;
      line-height: 1;
      color: $grey040;
    }
    /* 상담사 미배정 상태 */
    &.no_adviser {
      width: max-content;
      height: max-content;
      padding: 10px 12px;
      font-size: 15px;
      color: $grey040;
      font-weight: $semi-bold;
    }
  }
}

.chat_advise_last_message_time_stamp_box {
  font-size: 11px;
  font-weight: $medium;
  line-height: 1;
  color: $grey030;
}

.chat_advise_latest_message_box {
  @include ellipsisOneLine();
  width: 82%;
  font-size: 14px;
  font-weight: $regular;
  line-height: 20px;
  color: $grey070;
}



/* 5. 이전 상담 보기 영역 */
.previous_chat_advise_container {
  flex: 0 0 94px;
  width: 100%;
  // height: 94px;
  border-top: $grey005-border;
  position: relative;
}
.previous_chat_advise_show_button {
  @include flexSpace();
  width: 100%;
  padding: 24px 28px 30px 34px;

  @include hoverTransition();
  &:hover {
    background-color: $grey005;
  }
}

.previous_chat_advise_button_text_box {
  @include flexStart();
  gap: 16px;
}

.previous_chat_advise_time_icon_box {
  @include flexCenter();
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: #D3DBE6;
}

.previous_chat_advise_button_text {
  font-size: 16px;
  font-weight: $bold;
  line-height: 21px;
  color: $grey100;
}

.previous_chat_advise_arrow_icon_box {
  @include flexCenter();
  width: 26px;
  height: 26px;
}

/* 5-1. 이전 상담 보기 패널 */
.previous_chat_list_pannel {
  // display: block;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 98%;
  padding: 0 0 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  border-radius: 20px 20px 0 0;
  background-color: $white;
  box-shadow: $shadow-basic;
  transform: translateY(200%);
  transition: all .4s;
  
  &.show {
    transform: translateY(0);
  }
}

.previous_chat_list_pannel_title_box {
  flex-shrink: 0;
  @include flexSpace();
  padding: 24px;
}

.previous_chat_list_pannel_title {
  font-size: 18px;
  font-weight: $bold;
  // line-height: 1;
  color: $grey080;
}

.previous_chat_list_pannel_close_button_box {
  @include flexCenter();
}

.previous_chat_list_search_box {
  flex-shrink: 0;
  padding: 0 24px 16px;
  position: relative;
  
  .chat_advise_search_box {
    padding: 0;
  }

  .chat_advise_search_detail_pannel {
    top: 0;
  }
}

/* 5-1-1. 이전 상담 보기 패널 - 리스트 없음 */
.previous_chat_advise_lists_no_data_found_box {
  @include flexCenter();
  height: 100%;
}

/* 5-1-2. 이전 상담 보기 패널 - 상담 리스트 영역*/
.previous_chat_advise_list_box {
  @include scrollStyle();
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 14px;
}



