@import "/src/styles/_variables.scss";

.solid_button {
  @include flexCenter();
  width: fit-content;
  height: 36px;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: $medium;
  color: $white;
  background-color: $grey100;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  
  @include hoverTransition();
  &:hover {
    background-color: $grey080;
  }
  
  &:active{
    background-color: $grey080;
  }
  
  &.inactive {
    cursor: default;
    background-color: $grey030;

    &:active {
      background-color: inherit;
    }
  }

  .button_dim {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  &.dim {
    color: $white;
    background-color: $grey030;

    &:hover, &:active {
      cursor: default;
    }

    .button_dim {
      display: block;
    }
  }
  
  /* 사이즈 : big | large | 기본 | small | tiny */
  &.big {
    height: 50px;
    font-size: 18px;
    line-height: 24px;
    padding: 15px 15px;
  }
  &.large {
    height: 42px;
    font-size: 15px;
    line-height: 21px;
    padding: 12px 12px;
  }
  &.small {
    height: 32px;
    padding: 8px 10px;
  }
  &.tiny {
    height: 28px;
    border-radius: 6px;
    padding: 6px 8px;
    font-size: 12px;
  }
}

