@import "/src/styles/_variables.scss";

.main_header {
  @include flexSpace();
  width: 100%;
  height: 80px;
  padding: 0 32px 0 40px;
  flex: 0 0 auto;
  background-color: $white;
}

.header_menu_title {
  @include fontHeadingMenu();
  color: $grey100;
}

.header_right_area {
  @include flexEnd();
  gap: 26px
}

.header_user_information_container {
  @include flexEnd();
  gap: 8px;
}

.header_avatar_image_box {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  
  .header_avatar_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header_user_name_box {
  @include flexEnd();

  .header_user_greetings,
  .header_user_name,
  .header_user_name_sir {
    font-size: 14px;
    line-height: 20px;
    font-weight: $medium;
    color: $grey100;
  }

  .header_user_name_sir {
    display: inline-block;
    margin-left: 2px;
  }
}

.header_setting_icon_button_box {
  position: relative;
  margin-left: 24px;

  .dropdown_menu {
    width: 175px;
    position: absolute;
    top: 44px;
    right: 0;
    z-index: 1000;

    .dropdown_lists {
      gap: 4px;
      padding: 10px;
    }
  }
}



