/* pretendard font 파일 안정화될 때까지 cdn 사용 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/*
* Font Setting
* 국문 : ios - Apple SD Gothic Neo || ios 외 - pretendard
* 숫자, 영문, 특수문자, 스페이싱 : Inter
* 굵기 : Regular(400) Medium SemiBold Bold 지원
**/

/* Apple SD Gothic Neo */
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  letter-spacing: -0.4px;
  src: local("Apple SD Gothic Neo");
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  letter-spacing: -0.4px;
  src: local("Apple SD Gothic Neo");
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  letter-spacing: -0.4px;
  src: local("Apple SD Gothic Neo");
  unicode-range: U+AC00-D7A3;
}

/* Pretendard  */
/* - 폰트 안정화 될때까지 주석처리
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  letter-spacing: -0.4px;
  src: local("Pretendard-Regular"),
  url("/assets/fonts/Pretendard/Pretendard-Regular.subset.woff2") format("woff2"),
  url("/assets/fonts/Pretendard/Pretendard-Regular.subset.woff") format("woff"),
  url("/assets/fonts/Pretendard/Pretendard-Regular.subset.otf") format("OpenType");
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  letter-spacing: -0.4px;
  src: local("Pretendard-SemiBold"),
  url("/assets/fonts/Pretendard/Pretendard-SemiBold.subset.woff2") format("woff2"),
  url("/assets/fonts/Pretendard/Pretendard-SemiBold.subset.woff") format("woff"),
  url("/assets/fonts/Pretendard/Pretendard-SemiBold.subset.otf") format("OpenType");
  unicode-range: U+AC00-D7A3;  
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  letter-spacing: -0.4px;
  src: local("Pretendard-Bold"),
  url("/assets/fonts/Pretendard/Pretendard-Bold.subset.woff2") format("woff2"),
  url("/assets/fonts/Pretendard/Pretendard-Bold.subset.woff") format("woff"),
  url("/assets/fonts/Pretendard/Pretendard-Bold.subset.otf") format("OpenType");
  unicode-range: U+AC00-D7A3;
}
*/


/* inter */
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("Inter-Regular"),
  url("/assets/fonts/Inter/Inter-Regular.woff2") format("woff2"),
  url("/assets/fonts/Inter/Inter-Regular.woff") format("woff"),
  url("/assets/fonts/Inter/Inter-Regular.otf") format("OpenType");
  // unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local("Inter-Medium"),
  url("/assets/fonts/Inter/Inter-Medium.woff2") format("woff2"),
  url("/assets/fonts/Inter/Inter-Medium.woff") format("woff"),
  url("/assets/fonts/Inter/Inter-Medium.otf") format("OpenType");
  // unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local("Inter-SemiBold"),
  url("/assets/fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
  url("/assets/fonts/Inter/Inter-SemiBold.woff") format("woff"),
  url("/assets/fonts/Inter/Inter-SemiBold.otf") format("OpenType");
  // unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local("Inter-Bold"),
  url("/assets/fonts/Inter/Inter-Bold.woff2") format("woff2"),
  url("/assets/fonts/Inter/Inter-Bold.woff") format("woff"),
  url("/assets/fonts/Inter/Inter-Bold.otf") format("OpenType");
  // unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

/* Emoji */
@font-face {
  font-family: emoji;
  src: local("emoji");
  size-adjust: 92%;
}
@font-face {
  font-family: "Apple Color Emoji";
  src: local("Apple Color Emoji");
  size-adjust: 92%;
}
@font-face {
  font-family: "Noto Color Emoji";
  src: local("Noto Color Emoji");
  size-adjust: 92%;
}
@font-face {
  font-family: "Android Emoji";
  src: local("Android Emoji");
  size-adjust: 92%;
}
@font-face {
  font-family: "Segoe UI Emoji";
  src: local("Segoe UI Emoji");
  size-adjust: 92%;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI");
  size-adjust: 92%;
}


/* reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,button,article,aside,figcaption,figure,footer,header,hgroup,main,nav,section,fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
fieldset,img {
  border: 0 none;
}
dl,ul,ol,menu,li {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}
input,select,textarea,button {
  text-align: inherit;
  vertical-align: middle; 
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
a {
  color:inherit; 
  text-decoration: none;

  &:active,
  &:hover {
    text-decoration: none;
  }
}
address, caption, cite, code, dfn, em, var {
  font-style: inherit;
  font-weight: inherit;
}
fieldset {
  font-size: 100%;
  font: inherit;
}
textarea {
  overflow: auto; 
  vertical-align: top; 
  resize: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
}
input {
  border: none;
  font-size: 16px;
  background-color: inherit;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: inherit;
}

svg:not(:root) {
  overflow: visible;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
  background-color: inherit;
}

textarea:disabled { 
  background-color: inherit;
}





*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", Pretendard, -apple-system, "Apple SD Gothic Neo", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4; 
  letter-spacing: -0.4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto; /* 파이어폭스 */
  -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust : none;  /* IE */
  -moz-text-size-adjust : none;  /* 파이어폭스 */
  -o-text-size-adjust : none;  /* 오페라 구버전 */
  background-color: #ffffff;
  color: #28323C;  /* $grey080 */
  // overflow: hidden;
}

input,
textarea,
button,
label {
  font-family: "inter", Pretendard, -apple-system, "Apple SD Gothic Neo", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: -0.4px;
  font-size: inherit;
  border: none;
}


/* Chrome 입력폼의 자동완성 백그라운드 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

em {
  font-style: normal;
}

img {
  width: 100%;
  pointer-events: none;
  image-rendering: auto;
  // image-rendering: -webkit-optimize-contrast;
  // image-rendering: crisp-edges;
}

button:hover {
  cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

div[role='button']:hover {
  cursor: pointer;
}


#main {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 나중에 className layout_wrap으로 바꾸면 어떨지...? */
.container {
  width: 100%;
  // min-width: 1440px;
  min-width: 1510px;
  height: 100%;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}

@font-face {
  font-family: 'icomoon';
  src:  url("/assets/fonts/icon/icomoon.eot?z8plse");
  src:  url("/assets/fonts/icon/icomoon.eot?z8plse#iefix") format("embedded-opentype"),
    url("/assets/fonts/icon/icomoon.ttf?z8plse") format("truetype"),
    url("/assets/fonts/icon/icomoon.woff?z8plse") format("woff"),
    url("/assets/fonts/icon/icomoon.svg?z8plse#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_exclamation:before {
  content: "\e900";
  color: #fff;
}
