@import "/src/styles/_variables.scss";

.outline_tag {
  @include flexCenter();
  width: fit-content;
  height: 22px;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 18px;
  font-weight: $medium;
  color: $grey050;
  background-color: $white;
  border: $grey010-border;
}