@import "/src/styles/_variables.scss";

.validation_text_field_border_box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  
  &.focus {
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: -3px;
      bottom: -3px;
      left: -3px;
      right: -3px;
      border-radius: 9px;
      background-color: #1F71F933;
    }

    .validation_text_field_box {
      border: 1px solid $brickblue090;
    }
  }

  &.error {
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: -3px;
      bottom: -3px;
      left: -3px;
      right: -3px;
      border-radius: 9px;
      background-color: #1F71F933;
      background-color: #D32F2F33;
    }

    .validation_text_field_box {
      border: 1px solid $red100;
    }
  }
}

.validation_text_field_box {
  @include flexSpace();
  gap: 6px;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  position: relative;
  z-index: 3;
  border-radius: 8px;
  background-color: $white;
  border: $grey020-border;
}

.validation_text_field {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: $medium;
  color: $grey080;
  
  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    font-weight: $medium;
    color: $grey030;
  }
}

.text_field_delete_button {
  @include flexCenter();
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $grey020;
  opacity: 0;
  cursor: default;

  &:hover {
    cursor: default;
  }
  
  &.show {
    opacity: 1;
    cursor: pointer;

    &:hover {
      background-color: $grey030;
    }
  }
}


.validation_error_text_box {
  display: none;
  margin-top: 8px;
  gap: 4px;
  
  &.error {
    @include flexStart();
  }

  .icon_error_circle_box {
    @include flexCenter();
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid $red100;

    .icon_exclamation {
      fill: $red100;
      transform: scale(0.7);
    }
  }
  .validation_error_text {
    font-size: 13px;
    font-weight: $regular;
    line-height: 1;
    color: $red100;
  }
}