@import "/src/styles/_variables.scss";

.icon_button {
  @include flexCenter();
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background-color: $white;
  cursor: pointer;
  
  &:hover {
    background-color: $grey005;
  }
  
  &.small {
    width: 32px;
    height: 32px;
    border-radius: 8px;
  }
  
  &.tiny {
    width: 25px;
    height: 25px;
    border-radius: 5px;
  }
  
  &.chat_advise_search_style {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: $grey020-border;
  }
}

