@import "/src/styles/_variables.scss";

@mixin chatAdvisePannelTitleStyle {
  font-size: 18px;
  font-weight: $bold;
  line-height: 24px;
  color: $grey080;
}

.chat_advise_main_section_wrap {
  flex: 1 1 auto;
  // height: 100%;
  background-color: $white;
}

.chat_advise_main_container_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}



/* 1. 채팅 상담 헤더 */
.chat_advise_main_header_container {
  flex: 0 0 70px;
  // height: 70px;
  padding: 0 20px;
  border-bottom: $grey020-border;
  background-color: $white;
  position: relative;
}

/* 1-1. 메인 헤더 */
.chat_advise_main_header {
  @include flexSpace();
  width: 100%;
  height: 70px;
}

.chat_advise_main_header_information_box {
  @include flexStart();
  flex-shrink: 0;

  .chat_advise_header_channel_delimiter_img_box {
    @include flexCenter();
    width: 20px;
    height: 20px;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 8px;
    
    .chat_advise_header_channel_delimiter_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  
  .chat_advise_header_customer_name {
    font-size: 16px;
    font-weight: $bold;
    line-height: 1;
    color: $grey080;
    margin-right: 6px;
  }
  
  .chat_advise_header_bookmark_button {
    @include flexCenter();
    width: 10px;
    height: 20px;
    position: relative;
    margin-right: 6px;
    
    &.active {
      .icon_bookmark {
        fill: $grey050;
      }
    }
    
    @include hoverTransition();
    &:hover {
      &::after {
        @include tooltipStyle();
        content: '상단고정';
      }
    }
  }

  .chat_advise_header_current_chat_state_tag {
    @include flexCenter();
    width: fit-content;
    height: fit-content;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 11px;
    line-height: 17px;
    font-weight: $medium;
    color: $grey040;
    background-color: $grey010;
  }
}

.chat_advise_main_header_buttons_box {
  @include flexEnd();
  flex-shrink: 0;
  gap: 6px;

  /* (1) 채팅 검색 버튼 */
  .chat_advise_main_header_search_button_box {
    display: none;
    
    &.show {
      display: block;
    }
    .chat_advise_main_header_search_button {
      border: none;
    }
  }
  
  /* (2) 상담사 변경 버튼 */
  .chat_advise_main_header_change_adviser_button_box {
    position: relative;

    &.dimed {
      .outline_button {
        cursor: default;
        background-color: $grey005;
        color: $grey030;
      }
    }
  }
  
  /* (3) 상담 상태 변경 버튼 */
  .chat_advise_main_header_change_chat_state_select_button_box {
    width: 113px;
    position: relative;

    .change_chat_state_select_toggle_button {
      @include flexSpace();
      width: 112px;
      height: 32px;
      padding: 8px 10px;
      border: $grey020-border;
      border-radius: 8px;
      background-color: $white;
      
      .change_chat_state_select_toggle_button_text {
        font-size: 14px;
        line-height: 20px;
        font-weight: $medium;
        line-height: 1;
      }
      .change_chat_state_select_toggle_button_arrow {
        @include flexCenter();
      }
      
      @include hoverTransition();
      &:hover {
        background-color: $grey005;
      }
    } 

    /*임시*/
    .change_chat_state_select_box {
      display: none;
    }
  }
}


/* 1-2. 헤더 검색 영역 */
.chat_advise_search_header_container {
  display: none;
  gap: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  z-index: 200;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: $white;
  border-top: $grey020-border;
  border-bottom: $grey020-border;
  
  &.show {
    @include flexSpace();
  }
  
  &.active {
    background-color: $grey005;
  }
}

.chat_advise_search_header_basic_search_text_field_box {
  flex-grow: 1;

  .text_field_search_action_button {
    width: 40px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 1;
  }
}

.chat_advise_search_header_buttons_box {
  flex-shrink: 0;
  @include flexEnd();

  .chat_advise_search_header_calendar_button_box {
    display: none;

    &.show {
      display: block;
    }
    
    .icon_button {
      background-color: transparent;
      
      &:hover {
        .icon_calendar {
          fill: $grey040;
          stroke: $grey040;
        }
      }
    }
  }

  .chat_advise_main_header_search_cancle_button_box {
    .outline_button {
      border: none;
      background-color: transparent;
      color: $grey050;
      
      &:hover {
        background-color: $grey020;
      }
    }
  }
}

.search_focus_move_buttons_box {
  display: none;
  gap: 6px;
  position: absolute;
  bottom: -14px;
  right: 14px;
  transform: translateY(100%);
  z-index: 201;

  &.show {
    display: flex;
    flex-direction: column;
  }

  .icon_button {
    background-color: #161D24B3;

    &.down {
      transform: rotate(180deg);
    }

    &.disable {
      cursor: default;

      .icon_arrow_up_small {
        stroke: #FFFFFF33;
      }

      &:hover {
        background-color: #161D24B3;
      }
    }
    
    &:hover {
      background-color: $grey100;
    }
  }
}


/* 1-3. 헤더 알림바 영역  */
.chat_advise_header_alert_bar_container {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  padding: 12px 20px 0;
  z-index: 600;
  
  &.show {
    display: block;
  }
}
.chat_advise_header_alert_bar_box {
  width: 100%;
  // height: 78px;
  padding: 16px;
  background-color: $white;
  border-radius: 10px;
  border: $grey020-border;
  box-shadow: $shadow-basic;
}
.chat_advise_header_alert_bar_title {
  font-size: 16px;
  font-weight: $bold;
  line-height: 1;
  color: $grey100;
  margin-bottom: 8px;
}
.chat_advise_header_alert_bar_description {
  font-size: 16px;
  font-weight: $regular;
  color: $grey080;
}

/* 2. 채팅 상담 컨텐츠  */
.chat_advise_main_content_container {
  @include scrollStyle();
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  padding: 16px 20px calc(36px + 8px);
}
.highlight {
  color: $white;
  background-color: $grey100;
}

/* 메시지 상황별 예외처리 */
.message_wrapper {
  &.customer {
    .avatar_container {
      @include flexStart();
      .chat_name_box {
        order: 1;  
      }
      .name_tag_box {
        order: 2;  
      }
      .avatar_box {
        display: none;
      }
    }
    
    .message_container {
      @include flexStart();
      
      .message_button_box {
        align-items: center;
        &:hover {
          .message_KMS_search_button_box {
            display: block;
          }
          .message_delete_button_box {
            display: none;
          }
        }
      }
      .message_contents_box {
        border-radius: 0 10px 10px 10px;
        background-color: $tag010;
        cursor: pointer;
      }
    }

    .fileupload_container {
      @include flexStart();

      .fileupload_image_contents {
        &.error {
          &::after {
            @include brickRedBadgeStyle();
            bottom: 0;
            left: initial;
            right: -8px;
            transform: translateX(100%);
          }
        }
      }

      &.file {
        .fileupload_contents_box {
          &:hover {
            .file_download_button_box {
              order: 2;
            }
            .fileupload_file_template {
              order: 1;
            }
          }
        }
      }
    }

    .timestamp_container {
      @include flexStart();
    }
  }

  &.adviser {
    &.my_advise {
      .message_container {
        .message_button_box {
          .message_contents_box {
            cursor: pointer;
          }
          &:hover {
            .message_KMS_search_button_box {
              display: none;
            }
            .message_delete_button_box {
              display: block;
            }
          }
        }
      }

      .avatar_box {
        .avatar_icon_image_box {
          &::after {
            content: '나';
            @include flexCenter();
            width: 18px;
            height: 18px;
            background-color: $grey040;
            position: absolute;
            bottom: 0;
            right: -5px;
            color: $white;
            font-size: 10px;
            font-weight: $semi-bold;
            line-height: 1;
            border-radius: 50%;
          }
        }
      }
    }
  }

  &.loading {
    width: 74px;
    height: 40px;
    
    .message_contents_box {
      @include flexCenter();
      width: 100%;
      height: 100%;
      gap: 6px;
      border-radius: 0 10px 10px 10px;
      background-color: $tag010;
      opacity: 30%;
  
      .loading_dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #BC7D6C;
        animation: 1.2s infinite alternate animationLoading;
  
        &:first-child {
          animation-delay: 0;
        }
        &:nth-child(2) {
          animation-delay: 0.3s;
        }
        &:last-child {
          animation-delay: 0.6s;
        }
      }
    }
  }
}


/* (1) 아바타 */
.avatar_container {
  @include flexEnd();
  gap: 6px;
  margin-bottom: 6px;
}
.chat_name_box {
  @include ellipsisOneLine();
  max-width: 102px;
  order: 2;  
  font-size: 15px;
  font-weight: $semi-bold;
  line-height: 1;
  color: $grey100;
}
.name_tag_box {
  order: 1;  
}
.avatar_box {
  order: 3;
  margin-left: 2px;
}



/* (2) 메시지 */
.message_container {
  @include flexEnd();
}
.message_button_box {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  margin-bottom: 4px;
}

.message_contents_box {
  order: 2;
  width: auto;
  min-width: min-content;
  max-width: 330px;
  padding: 10px;
  font-size: 15px;
  line-height: 21px;
  color: $grey080;
  font-weight: $regular;
  border-radius: 10px 0 10px 10px;
  background-color: $grey005;
  word-break: break-all;
}

.message_KMS_search_button_box {
  order: 3;
  display: none;
}
.message_KMS_search_button {
  @include flexCenter();
  width: fit-content;
  height: 30px;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 1;
  font-weight: $medium;
  color: $grey080;
  background-color: $white;
  border: $grey020-border;
  cursor: pointer;
  
  @include hoverTransition();
  &:hover, &:active {
    background-color: $grey005;
  }
}

.message_delete_button_box {
  order: 1;
  display: none;
}
/* 메시지 삭제 된 경우 message_delete 클래스 message_contents_box 클래스 상위 어느곳에든 설정 가능 */
.message_delete {
  .message_contents_box {
    @include flexStart();
    color: $grey030;

    &::before {
      content: '\e900';
      font-family: 'icomoon';
      color: $white;
      font-size: 8px;
      @include flexCenter();
      width: 16px;
      height: 16px;
      margin-right: 6px;
      background-color: $grey030;
      border-radius: 50%;
    }
  }
}

/* (3) 타임 스탬프 */
.timestamp_container {
  @include flexEnd();
  margin: 2px 0 16px;
}
.timestamp_box {
  font-size: 12px;
  line-height: 1;
  font-weight: $medium;
  color: $grey040;
}

/* (4) 구분선 */
.chat_divider_container {
  @include flexCenter();
  width: 100%;
  height: 15px;
  margin-bottom: 16px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $grey010;
    z-index: 1;
  }
}

.chat_divider_text {
  font-size: 12px;
  font-weight: $medium;
  color: $grey040;
  padding: 0 12px;
  z-index: 2;
  background-color: $white;
}



/* 3. 채팅 상담 푸터 */
.chat_advise_footer_container {
  flex: 0 0 auto;
  width: 100%;
  padding: 0 20px 30px;
  margin-top: -8px;
  background-color: transparent;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 6px;
    height: 8px;
    position: absolute;
    z-index: 10;
    background-color: $white;
    top: 0;
    right: 0;
  }
}

/* 3-1. 메인 푸터 - 텍스트 에디터 영역 */
.chat_advise_main_footer {
}

.chat_advise_main_footer_box {
  position: relative;
}

.chat_advise_main_footer_texteditor_box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  min-height: 188px;
  border-radius: 10px;
  border: $grey020-border;
  background-color: $white;
}

/* 3-1-0. 푸터 dimed */
.chat_advise_main_footer_dimed_box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  flex-grow: 1;
  width: 100%;
  background-color: #646F7C99;
  border-radius: 10px;

  &.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.chat_advise_main_footer_dimed_box_contents {
  @include flexCenter();
  width: 100%;
  gap: 14px;
}
.chat_advise_main_footer_dimed_button {
  @include flexCenter();
  width: fit-content;
  height: 40px;
  padding: 0 40px;
  border-radius: 8px;
  border: $grey020-border;
  background-color: $white;
  font-size: 15px;
  font-weight: $semi-bold;
  color: $grey080;

  @include hoverTransition();
  &:hover {
    background-color: $grey005;
  }
}


.chat_advise_main_footer_dimed_information_box {
  @include flexCenter();
  width: fit-content;
  padding: 9px 16px;
  border-radius: 8px;
  background-color: $grey005;
  text-align: center;
  font-size: 15px;
  font-weight: $semi-bold;
  color: $grey080;
  gap: 12px;
  white-space: pre-line;

  &.shutdown {
    .chat_advise_main_footer_dimed_information_icon {
      display: none;
    }
  }

  .chat_advise_main_footer_dimed_information_icon {
    @include flexCenter();
    width: 22px;
    height: 22px;

    .icon_lnb_chat_advise {
      fill: $grey080;
      stroke: $grey080;
    }
  }

  .chat_advise_main_footer_dimed_information_text {
    display: block;
  }
}

/* 3-1-1. 푸터 탑 버튼 영역 */
.chat_advise_main_footer_top_buttons_box {
  @include flexSpace();
  flex-shrink: 0;
  width: 100%;
  padding: 14px;
  border-bottom: $grey020-border;
}

.chat_advise_main_footer_top_button {
  @include flexCenter();
}

/* 3-1-1-1. 푸터 탑 버튼 툴팁 */
[data-chat-advise-footer-tooltip] {
  position: relative;
  @include hoverTransition();
  &:hover {
    &::after {
      @include tooltipStyle();
    }
  }
}

[data-chat-advise-footer-tooltip='chat_advise_keyword_pannel'] {
  &:hover {
    &::after {
      content: '상담 키워드';
    }
  }
}
[data-chat-advise-footer-tooltip='button_action_pannel'] {
  &:hover {
    &::after {
      content: '버튼 액션 추가';
    }
  }
}
[data-chat-advise-footer-tooltip='text_bold'] {
  &:hover {
    &::after {
      content: '굵게';
      left: calc(50% + 6px);
    }
  }
}
[data-chat-advise-footer-tooltip='text_italic'] {
  &:hover {
    &::after {
      content: '기울기';
    }
  }
}
[data-chat-advise-footer-tooltip='text_underline'] {
  &:hover {
    &::after {
      content: '밑줄';
    }
  }
}
[data-chat-advise-footer-tooltip='text_color'] {
  &:hover {
    &::after {
      content: '텍스트 색';
    }
  }
}
[data-chat-advise-footer-tooltip='text_background'] {
  &:hover {
    &::after {
      content: '텍스트 배경색';
    }
  }
}


.chat_advise_main_footer_top_left_buttons_box {
  @include flexStart();
  gap: 4px;

  .text_bold {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      display: block;
      width: 1px;
      height: 10px;
      background-color: $grey030;
      margin: 0 8px 0 4px;
    }
  }
}
.chat_advise_main_footer_top_right_buttons_box {
  @include flexEnd();
}

/* 3-1-2. 푸터 입력 영역 */
.chat_advise_main_footer_textarea_box {
  flex-grow: 1;
  padding: 0 14px;
}
/* 3-1-3. 푸터 첨부파일 영역 */
.chat_advise_main_footer_file_thumnail_box { 
  flex-shrink: 0;
  padding: 0 14px;
}
/* 3-1-4. 푸터 바텀 버튼 영역 */
.chat_advise_main_footer_bottom_buttons_box {
  flex-shrink: 0;
  @include flexEnd();
  width: 100%;
  padding: 12px 14px;
}
.chat_advise_main_footer_bottom_right_buttons_box {
  @include flexEnd();
}
.chat_advise_main_footer_bottom_button {
  @include flexCenter();
}

.send_message_button_box {
  margin-left: 6px;
}


/* 3-2. 상담 키워드 패널 */
.chat_advise_footer_keyword_pannel {
  display: none;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  width: 100%;
  padding: 0 20px;
  z-index: 501;

  &.show {
    display: block;
  }
}

.chat_advise_footer_keyword_pannel_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 18px 16px 24px;
  height: max-content;
  height: 276px;
  background-color: $white;
  border: $grey020-border;
  border-radius: 10px;
  box-shadow: $shadow-basic;
}

.keyword_pannel_title_box {
  flex-shrink: 0;
  @include flexSpace();
  margin-bottom: 24px;
  
  .keyword_pannel_title {
    @include chatAdvisePannelTitleStyle();
  }
}
.keyword_pannel_outline_search_text_field_box {
  flex-shrink: 0;
  width: 100%;
  height: 32px;
  margin-bottom: 8px;
}
.keyword_pannel_keyword_list_box {
  flex-shrink: 0;
  width: 100%;
  height: 148px;
  padding: 12px 0;
  border-radius: 8px;
  background-color: $white;
  border: $grey020-border;

  >.keyword_pannel_keyword_list_no_data_found {
    @include flexCenter();
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: $medium;
    line-height: 1;
    color: $grey030;
  }

  .chat_advise_keyword_highlight {
    background-color: $tag110;
  }
}

.keyword_pannel_scroll_box {
  @include scrollStyle();
  padding: 0 10px;
  width: 100%;
  height: 100%;
}

.keyword_pannel_keyword_item_button {
  @include flexSpace();
  gap: 12px;
  padding: 4px 6px;
  border-radius: 5px;
  cursor: pointer;
  
  @include hoverTransition();
  &:hover {
    background-color: $grey005;
  }

  .chat_advise_keyword_shortcut_text {
    @include ellipsisOneLine();
    @include chatAdviseNameStyle();
    flex-shrink: 0;
    width: 128px;
  }
  
  .chat_advise_keyword_contents {
    @include ellipsisOneLine();
    flex-grow: 1;
    font-size: 15px;
    color: $grey050;
    line-height: 1;
  }
  
  .chat_advise_keyword_shortcut_keyboard {
    @include flexStart();
    flex-shrink: 0;
    gap: 3px;
    width: 64px;
    font-size: 12px;
    font-weight: $medium;
    color: $grey100;
    margin-left: 20px;
    
    &.no_keyboard_shortcut {
      color: $grey030;
    }

    .color_tag {
      font-size: 12px;
      color: $grey100;
      background-color: $tag110;
    }
  }
}


/* 3-3. 버튼액션 추가 패널 */
.chat_advise_footer_button_action_pannel {
  display: none;
  position: absolute;
  top: -10px;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  padding: 0 20px;
  z-index: 502;
  
  &.show {
    display: block;
  }
}

.chat_advise_footer_button_action_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  // height: 212px;
  // max-height: 224px;
  height: max-content;
  padding: 18px 16px 24px;
  background-color: $white;
  border: $grey020-border;
  border-radius: 10px;
  box-shadow: $shadow-basic;
}

.button_action_title_box {
  flex-shrink: 0;
  @include flexSpace();
  margin-bottom: 24px;
  
  .button_action_title {
    @include chatAdvisePannelTitleStyle();
  }
}

.button_action_text_fields_box {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.button_action_text_field_label_box {
  @include flexSpace();
  gap: 12px;

  .button_action_text_field_label {
    flex-shrink: 0;
    @include flexStart();
    gap: 4px;
    width: 60px;
    font-size: 14px;
    font-weight: $medium;
    color: $grey080;

    .outline_tag {
      padding: 4px;
    }
  }
  .button_action_text_field_box {
    flex-grow: 1;
    height: 32px;

    .outline_text_field_box {
      padding: 0 10px;
    }
  }
}

.button_action_add_button_box {
  @include flexEnd();
  gap: 6px;
}

/* 3-4. 이모지 패널 */
.chat_advise_keyword_emoji_pannel {
  display: none;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  width: 100%;
  padding: 0 20px;
  z-index: 503;
  
  // &.show {
  //   display: block;
  // }
}

/* 3-5. 푸터 영역 fixed 버튼 */
.move_scroll_bottom_button_box {
  display: none;
  gap: 6px;
  position: absolute;
  top: -16px;
  right: 14px;
  transform: translateY(-100%);
  z-index: 202;

  &.show {
    display: block;
  }

  .icon_button {
    background-color: #161D24B3;

    @include hoverTransition();
    &:hover {
      background-color: $grey100;
    }
  }
}
.move_scroll_new_message_button_box {
  display: none;
  gap: 6px;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 203;

  &.show {
    display: block;
  }

  .solid_button  {
    height: 38px;
    padding: 10px;
    background-color: #161D24B3;

    &:hover {
      background-color: $grey100;
    }
  }
}












/* 1510 지원을 위한 미디어쿼리 */
@media only screen and (max-width: 1540px) {
  .chat_advise_main_header_container {
    padding: 0 14px;
  }
  .chat_advise_main_contents_container {
    padding: 0 14px 44px;
  }
  .chat_advise_footer_container {
    padding: 0 14px 30px;
  }
  .chat_advise_footer_keyword_pannel,
  .chat_advise_footer_button_action_pannel {
    padding: 0 14px;
  }
  .chat_advise_header_alert_bar_container {
    padding: 12px 14px 0;
  }
  .chat_advise_main_header_buttons_box {
    gap: 4px;
  }
}

/* message loading animation */
@keyframes animationLoading {
  0% {background-color: #BC7D6C;}
  50% {background-color: $tag130;}
  100% {background-color: #BC7D6C;} 
}