@import "/src/styles/_variables.scss";

.chat_advise_main_section_wrap {
  flex: 1 1 auto;
  // height: 100%;
  background-color: $white;
}

.chat_advise_main_container_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat_advise_main_header {
  flex: 0 0 70px;
  width: 100%;
  // height: 70px;
  border: $grey005-border;
}
.chat_advise_main_content_container {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  border: $grey005-border;
}
.chat_advise_main_footer {
  flex: 0 0 auto;
  width: 100%;
  height: 188px;
  border: $grey005-border;
  padding: 0 20px 30px;
}