@import "/src/styles/_variables.scss";

.color_tag {
  @include flexCenter();
  width: fit-content;
  height: 22px;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 11px;
  line-height: 1;
  font-weight: $medium;
  color: $grey080;
  background-color: $white;
}