@import "/src/styles/_variables.scss";

.KMS_section_wrap {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

/* 0. 공통 - 상담키워드 모달 공통 스타일 */
.make_KMS_modal_container,
.upload_KMS_modal_container {
  width: 520px;
  height: fit-content;
  padding: 24px;
  border-radius: 10px;
  border: $grey020-border;
  box-shadow: $shadow-basic;
  background-color: $white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.make_KMS_modal_head,
.upload_KMS_modal_head {
  margin-bottom: 30px;
}
.make_KMS_modal_title,
.upload_KMS_modal_title {
  font-size: 18px;
  font-weight: $bold;
  line-height: 1;
  color: $grey080;
}
.make_KMS_modal_subtitle {
  font-size: 14px;
  font-weight: $medium;
  color: $grey080;
  margin-bottom: 10px;
}

.KMS_text_field_box {
  @include flexSpace();
  gap: 5px;
  margin-bottom: 20px;
  position: relative;
}
.KMS_text_field {
  flex-grow: 1;
  width: 100%;
  height: 32px;

  &::after {
    content: '/';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 10px;
    width: fit-content;
    height: 32px;
    line-height: 32px;
    z-index: 10;
  }

  .outline_text_field {
    padding: 0 0 0 6px;
  }
}
.KMS_make_shortcut_dropdown {
  flex-shrink: 0;
  width: 94px;
  height: 32px;
  position: relative;
  .dropdown_menu {
    position: absolute;
    top: calc(32px + 4px);
    left: 0;
    right: 0;
    z-index: 10;
    padding: 4px 2px 4px 4px;
  }
  .dropdown_list {
    width: 92%;
  }
  .dropdown_lists {
    padding: 0;
    @include scrollStyle();
    display: flex;
    flex-direction: column;
    max-height: 170px;

    .dropdown_button {
      position: relative;
      height: 28px;
      margin-right: 4px;
      padding: 2px 6px;
    }
  }
}

/* 1. 테이블 탑 섹션 */
.KMS_table_top_section {
  flex-shrink: 0;
  @include flexSpace();
  width: 100%;
  height: 32px;
  margin-top: 8vh;
}

.KMS_table_top_buttons_box {
  flex-shrink: 0;
  @include flexStart();
  gap: 6px;

  .basic_confirm_modal_contents_description {
    letter-spacing: -0.8px;
  }
}

/* 1-1. KMS 지식 만들기 버튼 | 모달  */
.make_KMS_button_box {
  flex-shrink: 0;
}

.make_KMS_modal_container {
  width: 520px;
  height: fit-content;
  padding: 24px;
  border-radius: 10px;
  border: $grey020-border;
  box-shadow: $shadow-basic;
  background-color: $white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.make_KMS_modal_head {
  margin-bottom: 30px;
}
.make_KMS_modal_title {
  font-size: 18px;
  font-weight: $bold;
  line-height: 1;
  color: $grey080;
}
.make_KMS_modal_subtitle {
  font-size: 14px;
  font-weight: $medium;
  color: $grey080;
  margin-bottom: 10px;
}

.make_KMS_title_text_field_box {
  margin-bottom: 20px;
}
.KMS_title_text_field_box {
  @include flexSpace();
  gap: 5px;
  position: relative;
}
.KMS_title_text_field {
  flex-grow: 1;
  width: 100%;
  height: 32px;
}
.KMS_make_shortcut_dropdown {
  flex-shrink: 0;
  width: 94px;
  height: 32px;

  .basic_text_dropdown_list {
    .basic_text_dropdown_button {
      position: relative;

      .dropdown_value {
        display: inline-block;
        line-height: 1;
        padding: 4px 6px;
        margin-left: 46px;
        border-radius: 5px;
        background-color: $tag110;
        
        &::before {
          content: 'Ctrl';
          position: absolute;
          top: 50%;
          left: 8px;
          transform: translateY(-50%);
          line-height: 1;
          padding: 4px 6px;
          border-radius: 5px;
          background-color: $tag110;
        } 
        &::after {
          content: '+';
          position: absolute;
          top: 50%;
          left: 8px;
          margin-left: 36px;
          transform: translateY(-50%);
          line-height: 1;
        } 
      }
    }
    &:last-child {
      .dropdown_value {
        padding: 0;
        background-color: transparent;
      }
    }
  }
}

.make_KMS_text_editor_box {
  margin-bottom: 22px;
}

.mac_os_keyboard_shortcut_infomation {
  // display: none;
  @include flexStart();
  margin-top: 8px;
  margin-left: -8px;
  font-size: 13px;
  font-weight: $regular;
  color: $grey040;

  &::before {
    @include flexCenter();
    content: '\e901';
    font-family: 'icomoon';
    font-size: 15px;
    font-weight: $bold;
    color: $grey040;
    width: 30px;
    height: 30px;
    background: $white;
    border: 2.5px solid $grey040;
    border-radius: 50%;
    transform: scale(0.4);
    margin-right: -4px;
  }
}

/* 1-2. 엑셀 템플릿 드롭다운 | 모달 */
/* 1-2-1. 엑셀 템플릿 업로드 모달 */
.upload_KMS_exel_template_download_button_box {
  margin-bottom: 20px;

  .button_contents {
    @include flexStart();

    .icon_exel_template {
      margin-right: 4px;
    }
  }
}
.exel_template_download_button_description {
  font-size: 14px;
  line-height: 22px;
  font-weight: $medium;
  color: $grey080;
  margin-bottom: 16px;
}
.upload_KMS_add_file_area {
  width: 100%;
  height: 80px;
  margin-bottom: 12px;
}
/* 파일 선택 전 */
.upload_KMS_add_file_standby {
  @include flexCenter();
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: $white;
  border: 1px dashed $grey020;
  font-size: 14px;
  font-weight: $medium;
  color: $grey080;

  .file_add_icon_box {
    @include flexCenter();
    margin-right: 8px;
  }
  
  .upload_KMS_add_file_select_text {
    margin-left: 4px;
    color: $brickblue090;
    font-weight: $medium;
    text-decoration: underline;
  }
  
  &:hover {
    background-color: $grey000;
  }
}

/* 파일 선택 후 */
.upload_KMS_add_file_template_outline_box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;

  &.error {
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: -3px;
      bottom: -3px;
      left: -3px;
      right: -3px;
      border-radius: 10px;
      background-color: #D32F2F33;
    }
    .upload_KMS_add_file_template {
      border: 1px solid $red100;
    }

  }
}

.upload_KMS_add_file_template {
  @include flexSpace();
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: $grey005;
  position: relative;
  z-index: 3;
}

.attachment_fileupload_file_contents {
  @include flexSpace();
  gap: 6px;
}

.add_file_template_thumnail_box {
  flex-shrink: 0;
  @include flexCenter();
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: $white;

  .icon_file_extension_xlsx {
    transform: scale(1.3);
  }
}

.add_file_template_contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .add_file_template_title {
    @include ellipsisOneLine();
    width: 100%;
    max-width: 350px;
    font-size: 16px;
    line-height: 24px;
    font-weight: $semi-bold;
    color: $grey080;
  }
  
  .add_file_template_text {
    font-size: 12px;
    line-height: 16px;
    font-weight: $regular;
    color: $grey100;
    .add_file_template_unit {
      display: none;
      &.show {
        display: inline-block;
      }
    }
    .add_file_template_error_text {
      display: none;
      color: $red100;
      &.show {
        display: inline-block;
      }
    }
  }
}

.add_file_template_delete_button {
  flex-shrink: 0;
  height: 100%;
  display: flex;

  .delete_circle_button {
    background-color: $grey030;
    
    &:hover {
      background-color: $grey080;
    }
  }
}

.upload_KMS_warning_box {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  padding: 12px;
  border-radius: 10px;
  background-color: #FFF6F4;
  border: 1px solid #F2483A29;
  font-size: 13px;
  line-height: 21px;
  font-weight: $regular;
  color: $grey080;
  margin-bottom: 20px;
}
.upload_KMS_warning_icon_box {
  @include flexCenter();
  width: 18px;
  height: 20px;
}
.warning_title {
  font-size: 14px;
  font-weight: $medium;
  color: $red100;
  margin-bottom: 6px;
}
.warning_emphasis {
  color: $red100;
}

/* 1-2-3. 엑셀 템플릿 드롭다운 */
.exel_template_dropdown_container {
  flex-shrink: 0;
  width: 130px;
  position: relative;

  .dropdown_menu {
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    z-index: 9;
    transform: translateY(100%);

    .dropdown_lists {
      padding: 4px;
      .dropdown_button {
        padding: 6px;
      }
    }
  }
}

/* 1-3. 검색 결과 */
.KMS_table_top_search_box {
  @include flexEnd();
  gap: 6px;
}

.search_result_text_box {
  display: none;
  font-size: 14px;
  font-weight: $regular;
  color: $grey080;
  margin-right: 4px;

  &.show {
    display: block;
  }

  .search_result_count {
    font-weight: $semi-bold;
    color: $green050;
  }
}


/* 1-4. 검색 드롭다운 | 텍스트 필드 */
.KMS_search_dropdown_container {
  width: 118px;

  .basic_text_dropdown_menu {
    padding: 4px;
    z-index: 15;

    .basic_text_dropdown_list {
      width: 100%;
    }
  }
}

.KMS_search_text_field {
  height: 32px;
}


/* 2. 테이블 메인 섹션 */
.KMS_table_section {
  width: 100%;
  min-height: 552px;
}
.KMS_table_wrap {
  max-height: 552px;
  margin-top: 16px;
  overflow-y: hidden;
  overflow-x: auto;
  overflow-x: overlay;
  scrollbar-width: thin;
  scrollbar-color: $grey030;
  background-color: $white;
  
  &:hover {
    &::-webkit-scrollbar {
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
    }
  }

  &::-webkit-scrollbar {
    height: 6px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey030;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 3px;
  }
  border: $grey020-border;
  border-radius: 10px;
}

.table_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 80px 350px 660px 200px 200px 86px;
  grid-auto-rows: 50px;
  border-collapse: collapse;
  position: relative;
  
  .table_head,
  .table_body,
  .table_row {
    display: contents;
  }
}

/* 2-1. 테이블 - 헤드 */
.table_head {
  height: 44px;
}
.table_header {
  @include flexStart();
  font-size: 14px;
  font-weight: $regular;
  line-height: 1;
  color: $grey040;
  background-color: $grey005;
  border-right: $grey010-border;
  padding: 0 16px;
  position: relative;

  &:last-child {
    border-right: 0;
  }

  &.dropdown {
    padding: 0;
    cursor: pointer;
    @include hoverTransition();
    &:hover {
      background-color: $grey010;
    }
  }

  .dropdown_toggle {
    padding: 0 16px;
    border: none;
    background-color: inherit;
    z-index: 3;
    
    .dropdown_toggle_text {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }
  }

  .dropdown_menu {
    width: 200px;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: -4px;
    transform: translateY(100%);
    
    .dropdown_lists {
      padding: 4px;

      .dropdown_button {
        padding: 5px 6px;
      }
    }
  }
}

/* 2-2. 테이블 - 바디 */
.table_body {
  .table_row {
    cursor: pointer;

    &:hover {
      td {
        background-color: $grey000;
      }
      .row_edit_button {
        @include flexCenter()
      }
    }
    &:nth-child(10) {
      td {
        border-bottom: 0;
      }
    }
    &:last-child {
      .dropdown_menu {
        top: unset;
        bottom: 0;
        transform: translateY(0);
      }
      td {
        border-bottom: 0;
      }
    }
  }
}
[data-table] {
  @include flexSpace();
  @include hoverTransition();
  padding: 0 16px;
  font-size: 14px;
  font-weight: $regular;
  color: $grey080;
  border-bottom: $grey010-border;
  border-right: $grey010-border;
  background-color: transparent;
  &:last-child {
    border-right: 0;
  }
}
[data-type='ellipsis'] {
  @include ellipsisOneLine();
  line-height: 50px;
}
[data-type='edit'] {
  @include flexCenter();
  .icon_button {
    background-color: transparent;
    transform: rotate(90deg);
    
    &:hover {
      background-color: $grey005;
    }
  }
}

/* 2-2-1. 상담 키워드 로우 데이터 - 없음 */
.KMS_no_data_found {
  flex-grow: 1;
  @include flexCenter();
  grid-row-start: 2;
  grid-row-end: 12;
  grid-column-start: 1;
  grid-column-end: 7;

  .KMS_no_data_found_box {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  [data-table] {
    border-bottom: 0;
  }
}

/* 2-2-2. 상담 키워드 로우 데이터 */
.row_edit_button {
  display: none;
  width: fit-content;
  height: 24px;
  font-size: 14px;
  font-weight: $medium;
  line-height: 1;
  color: $grey080;
  border-radius: 5px;
  padding: 0 6px 0 2px;
  background-color: $grey005;
  @include hoverTransition();
  &:hover {
    background-color: $grey020;
  }

  .icon_edit {
    stroke: $grey080;
    fill: $grey080;
  }
}

/* 2-2-1. 상담 키워드 로우 데이터 - 없음 */
.detail_customer_order_no_data_found_box {
  flex-grow: 1;
  @include flexCenter();
  margin: 0 24px 24px;
  border-radius: 8px;
  border: $grey020-border;
}

/* 2-2-2-1. 로우 데이터 수정 버튼 - 드롭다운 */
.row_data_edit_icon_button_box {
  position: relative;

  .dropdown_menu {
    width: 100px;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    .dropdown_lists {
      padding: 4px;

      .dropdown_list {
        height: 28px;

        .dropdown_button {
          padding: 5px 6px;
        }
        &:first-child {
          .dropdown_value {
            &::before {
              content: '\e900';
              display: inline-block;
              font-family: 'icomoon';
              font-size: 12px;
              // font-weight: $semi-bold;
              width: 12px;
              height: 12px;
              margin-right: 4px;
            }
          }
        }
        &:nth-child(2) {
          .dropdown_value {
            &::before {
              content: '\e902';
              display: inline-block;
              font-family: 'icomoon';
              font-size: 12px;
              // font-weight: $semi-bold;
              width: 12px;
              height: 12px;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}


/* 3. 테이블 바텀 섹션 */
.KMS_bottom_section {
  flex-shrink: 0;
  @include flexCenter();
  width: 100%;
  margin-top: 7vh;
}
