@import "/src/styles/_variables.scss";

.number_notification_badge {
  @include flexCenter();
  height: 20px;
  font-size: 11px;
  line-height: 17px;
  font-weight: $medium;
  color: $white;
  background-color: $brickCoral100;
  border-radius: 8px;

  &.hide {
    display: none;
  }
  
  &.units {
    width: 20px;
    border-radius: 50%;
  }
  &.tens {
    width: 22px;
  }
  &.hundereds {
    width: 28px;
  }
}