@import "/src/styles/_variables.scss";

.dropdown {
  width: 100%;
  background-color: $white;
  overflow: hidden;
  border-radius: 10px;
  border: $grey005-border;
  box-shadow: $shadow-thin;
}

.dropdown_lists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 10px;
}

.dropdown_list {
  width: 100%;
}

.dropdown_button {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: $medium;
  color: $grey080;
  
  &:hover {
    background-color: $grey005;
  }
}
