@import "/src/styles/_variables.scss";

#main {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 나중에 className layout_wrap으로 바꾸면 어떨지...? */
.container {
  width: 100%;
  // min-width: 1440px;
  min-width: 1510px;
  height: 100%;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}