@import "/src/styles/_variables.scss";

.channel_member_section_wrap {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

/* 상세 모달 */
/* (1) 멤버 초대하기 모달 */
.invite_member_modal_container {
  width: 520px;
  height: fit-content;
  padding: 24px;
  border-radius: 10px;
  border: $grey020-border;
  box-shadow: $shadow-basic;
  background-color: $white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.invite_member_modal_head {
  margin-bottom: 12px;
}
.invite_member_modal_title {
  font-size: 18px;
  font-weight: $bold;
  line-height: 1;
  color: $grey080;
}

.invite_member_description_box {
  @include flexStart();
  gap: 14px;
  margin-bottom: 30px;
}
.invite_member_link_icon_box {
  @include flexCenter();
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #07B4191A;
}
.invite_member_description_text_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.invite_member_description_title {
  font-size: 14px;
  font-weight: $bold;
  color: $grey080;
}
.invite_member_description_box {
  font-size: 14px;
  font-weight: $medium;
  color: $grey050;
}

.invite_member_URL_box {
  @include flexSpace();
  width: 100%;
  height: 40px;
  padding: 12px 10px;
  border-radius: 8px;
  background-color: $grey000;
  border: $grey020-border;
  margin-bottom: 22px;
}

.invite_member_URL {
  font-size: 14px;
  font-weight: $medium;
  color: $grey080;
}

.invite_member_button_box {
  @include flexEnd();
}


/* (2) 상담 분야 설정하기 모달 */
.edit_member_advise_fields_modal_container {
  width: 520px;
  height: fit-content;
  padding: 24px;
  border-radius: 10px;
  border: $grey020-border;
  box-shadow: $shadow-basic;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.edit_member_advise_fields_modal_head {
  margin-bottom: 10px;
}
.edit_member_advise_fields_modal_title {
  font-size: 18px;
  font-weight: $bold;
  line-height: 1;
  color: $grey080;
  margin-bottom: 30px;
}
.edit_member_advise_fields_name_box {
  font-size: 14px;
  font-weight: $medium;
  color: $grey080;
  @include flexStart();

  .edit_member_advise_fields_name {
    max-width: 116px;
    @include ellipsisOneLine();
  }
}

/* 상담 분야 설정 드롭다운 */
.edit_member_advise_fields_dropdown_box {
  width: 100%;
  margin-bottom: 22px;
  position: relative;
  z-index: 100;
}
.advise_fields_dropdown_toggle {
  width: 100%;
  border-radius: 8px;
  border: $grey020-border;
  background-color: $white;
}
.advise_fields_dropdown_toggle_button {
  padding: 5px 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  
  &:hover {
    background-color: $grey005;
  }
}
.advise_fields_lists {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: $medium;
  color: $grey080;
}

.advise_fields_toggle_arrow {
  @include flexCenter();
  flex-shrink: 0;
  width: 20px;
  height: 20px;

  &.open {
    transform: rotate(180deg);
  }
}
.advise_fields_combo_dropdown_menu {
  display: none;
  width: 100%;
  padding: 4px;
  background-color: $white;
  border-radius: 8px;
  border: $grey020-border;
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  z-index: 200;
  overflow: hidden;
  transform: translateY(100%);
  
  &.open {
    display: block;
  }
}
.advise_fields_combo_dropdown_menu_scroll_area {
  width: 100%;
  height: 176px;
  @include scrollStyle();
}
.advise_fields_combo_dropdown_menu_list {
  @include flexStart();
  gap: 6px;
  width: 98%;
  height: 28px;
  padding: 3px 6px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $grey005; 
  }
}



.edit_member_advise_fields_button_box {
  @include flexEnd();
  gap: 6px;
}

/* (3) 상담 분야 설정하기 모달 */
.resign_member_modal_container {
  width: 410px;
  height: fit-content;
  padding: 24px;
  border-radius: 10px;
  border: $grey020-border;
  box-shadow: $shadow-basic;
  background-color: $white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.resign_member_modal_head {
  margin-bottom: 12px;
}
.resign_member_modal_title {
  font-size: 18px;
  font-weight: $bold;
  line-height: 1;
  color: $grey080;
  margin-bottom: 12px;
}
.resign_member_name_box {
  @include flexStart();
  font-size: 16px;
  font-weight: $medium;
  color: $grey050;
  
  .resign_member_name {
    max-width: 124px;
    @include ellipsisOneLine();
  }
}

.resign_member_caution_box {
  @include flexStart();
  gap: 8px;
  width: 100%;
  height: 44px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #F6C71D29;
  background-color: #FFFBF2;
  margin-bottom: 22px;

  .caution_icon_box {
    @include flexCenter();
  }

  .caution_text {
    font-size: 13px;
    font-weight: $regular;
    color: $grey080;
  }
}

.resign_member_button_box {
  @include flexEnd();
  gap: 6px;
}






/* 1. 테이블 탑 섹션 */
.channel_member_table_top_section {
  flex-shrink: 0;
  @include flexSpace();
  width: 100%;
  height: 32px;
  margin-top: 8vh;
}

.channel_member_table_top_buttons_box {
  flex-shrink: 0;
  @include flexStart();
  gap: 6px;
}

/* 1-1. 멤버 초대하기 버튼  */
.invite_member_button_box {
  flex-shrink: 0;
}


/* 1-2. 검색 결과 */
.channel_member_table_top_search_box {
  @include flexEnd();
  gap: 6px;
}

.search_result_text_box {
  display: none;
  font-size: 14px;
  font-weight: $regular;
  color: $grey080;
  margin-right: 4px;

  &.show {
    display: block;
  }

  .search_result_count {
    font-weight: $semi-bold;
    color: $green050;
  }
}


/* 1-3. 검색 드롭다운 | 텍스트 필드 */
.channel_member_search_dropdown_container {
  width: 118px;

  .basic_text_dropdown_menu {
    padding: 4px;
    z-index: 15;

    .basic_text_dropdown_list {
      width: 100%;
    }
  }
}

.channel_member_search_text_field {
  height: 32px;
}


/* 2. 테이블 메인 섹션 */
.channel_member_table_section {
  width: 100%;
  min-height: 552px;
  position: relative;
}
.channel_member_table_wrap {
  width: 100%;
  max-height: 552px;
  margin-top: 16px;
  overflow-y: hidden;
  overflow-x: auto;
  overflow-x: overlay;
  scrollbar-width: thin;
  scrollbar-color: $grey030;
  background-color: $white;
  border: $grey020-border;
  border-radius: 10px;
  
  .table_container {
    grid-template-columns: 210px 150px 250px 310px 154px 154px 198px 86px;
  }

  [data-type='edit'] {
    .dropdown_list {
      &:last-child {
        .dropdown_value {
          color: $red100;
        }
      }
    }
  }  

  &::-webkit-scrollbar {
    height: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey030;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
  }

  /* 편집 버튼 */
  .row_data_edit_icon_button_box {
    .dropdown_menu {
      width: 136px;

      .dropdown_lists {
        .dropdown_list {
          &:first-child {
            .dropdown_value {
              &::before {
                display: none
              }
            }
          }
          &:nth-child(2) {
            .dropdown_value {
              color: $grey080;
              &::before {
                display: none
              }
            }
          }
        }
      }
    }
  }
}

/* 테이블 셀 컴포넌트 */
/* (1) 이름 */
.channel_member_name_cell_box {
  @include flexStart();
  gap: 6px;
}
.channel_member_profile_image_box {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  
  .channel_member_image {
    object-fit: cover;
  }
}

.channel_member_name {
  flex-shrink: 0;
  max-width: 106px;
  @include ellipsisOneLine();
}

/* (2) 상담 분야 */
.channel_member_advise_field_cell_box {
  width: fit-content;
  height: 34px;
  padding: 6px;
  border-radius: 10px;
  position: relative;

  &:hover {
    background-color: $grey005;

    .channel_member_advise_fields_all_box {
      @include flexStart();
      flex-wrap: wrap;
      gap: 4px;
      width: 290px;
    }
  }
}
.channel_member_advise_fields_box {
  @include flexStart();
  gap: 4px;
}
.channel_member_advise_fields_more_number_box {
  font-size: 11px;
  font-weight: $medium;
  line-height: 1;
  color: $grey030;
}
.channel_member_advise_fields_all_box {
  display: none;
  width: fit-content;
  min-height: 34px;
  padding: 6px;
  border-radius: 8px;
  border: $grey020-border;
  background-color: $white;
  box-shadow: $shadow-basic;
  position: absolute;
  z-index: 20;
  top: 50%;
  right: -10px;
  transform: translate(100%, -50%);
}


/* 2-2-1. 상담 키워드 로우 데이터 - 없음 */
.KMS_no_data_found {
  flex-grow: 1;
  @include flexCenter();
  grid-row-start: 2;
  grid-row-end: 12;
  grid-column-start: 1;
  grid-column-end: 7;

  .KMS_no_data_found_box {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  [data-table] {
    border-bottom: 0;
  }
}

/* 2-2-2. 상담 키워드 로우 데이터 */
.row_edit_button {
  display: none;
  width: fit-content;
  height: 24px;
  font-size: 14px;
  font-weight: $medium;
  line-height: 1;
  color: $grey080;
  border-radius: 5px;
  padding: 0 6px 0 2px;
  background-color: $grey005;
  @include hoverTransition();
  &:hover {
    background-color: $grey020;
  }

  .icon_edit {
    stroke: $grey080;
    fill: $grey080;
  }
}

/* 2-2-1. 상담 키워드 로우 데이터 - 없음 */
.detail_customer_order_no_data_found_box {
  flex-grow: 1;
  @include flexCenter();
  margin: 0 24px 24px;
  border-radius: 8px;
  border: $grey020-border;
}

/* 2-2-2-1. 로우 데이터 수정 버튼 - 드롭다운 */
.row_data_edit_icon_button_box {
  position: relative;

  .dropdown_menu {
    width: 100px;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    .dropdown_lists {
      padding: 4px;

      .dropdown_list {
        height: 28px;

        .dropdown_button {
          padding: 5px 6px;
        }
        &:first-child {
          .dropdown_value {
            &::before {
              content: '\e900';
              display: inline-block;
              font-family: 'icomoon';
              font-size: 12px;
              // font-weight: $semi-bold;
              width: 12px;
              height: 12px;
              margin-right: 4px;
            }
          }
        }
        &:nth-child(2) {
          .dropdown_value {
            &::before {
              content: '\e902';
              display: inline-block;
              font-family: 'icomoon';
              font-size: 12px;
              // font-weight: $semi-bold;
              width: 12px;
              height: 12px;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}


/* 3. 테이블 바텀 섹션 */
.channel_member_bottom_section {
  flex-shrink: 0;
  @include flexCenter();
  width: 100%;
  margin-top: 7vh;
}
