@import "/src/styles/_variables.scss";

.keyboard_shortcut_chip {
  font-size: 14px;
  font-weight: $medium;
  color: $grey080;

  .default_shortcut {
    width: fit-content;
    height: 22px;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 17px;
    background-color: $tag110;
  }
}